name: Deploy v3 Pools Subgraphs
on:
  push:
    branches: main
    paths:
      - "subgraphs/v3-pools/**"
  workflow_dispatch:

jobs:
  deploy-mainnet:
    uses: ./.github/workflows/deploy-studio.yml
    with:
      working-directory: subgraphs/v3-pools
      subgraph-name: balancer-pools-v3
      manifest-file: subgraph.yaml
    secrets:
      STUDIO_DEPLOY_KEY: ${{ secrets.STUDIO_DEPLOY_KEY }}

  deploy-gnosis:
    uses: ./.github/workflows/deploy-studio.yml
    with:
      working-directory: subgraphs/v3-pools
      subgraph-name: balancer-pools-v3-gnosis
      manifest-file: subgraph.gnosis.yaml
    secrets:
      STUDIO_DEPLOY_KEY: ${{ secrets.STUDIO_DEPLOY_KEY }}

  deploy-sepolia:
    uses: ./.github/workflows/deploy-studio.yml
    with:
      working-directory: subgraphs/v3-pools
      subgraph-name: balancer-pools-v3-sepolia
      manifest-file: subgraph.sepolia.yaml
    secrets:
      STUDIO_DEPLOY_KEY: ${{ secrets.STUDIO_DEPLOY_KEY }}

  deploy-arbitrum:
    uses: ./.github/workflows/deploy-studio.yml
    with:
      working-directory: subgraphs/v3-pools
      subgraph-name: balancer-pools-v3-arbitrum
      manifest-file: subgraph.arbitrum-one.yaml
    secrets:
      STUDIO_DEPLOY_KEY: ${{ secrets.STUDIO_DEPLOY_KEY }}

  deploy-base:
    uses: ./.github/workflows/deploy-studio.yml
    with:
      working-directory: subgraphs/v3-pools
      subgraph-name: balancer-pools-v3-base
      manifest-file: subgraph.base.yaml
    secrets:
      STUDIO_DEPLOY_KEY: ${{ secrets.STUDIO_DEPLOY_KEY }}

  deploy-sonic:
    uses: ./.github/workflows/deploy-studio.yml
    with:
      working-directory: subgraphs/v3-pools
      subgraph-name: balancer-pools-v3-sonic
      manifest-file: subgraph.sonic.yaml
    secrets:
      STUDIO_DEPLOY_KEY: ${{ secrets.STUDIO_DEPLOY_KEY }}

  deploy-avalanche:
    uses: ./.github/workflows/deploy-studio.yml
    with:
      working-directory: subgraphs/v3-pools
      subgraph-name: balancer-pools-v3-avalanche
      manifest-file: subgraph.avalanche.yaml
    secrets:
      STUDIO_DEPLOY_KEY: ${{ secrets.STUDIO_DEPLOY_KEY }}

  deploy-optimism:
    uses: ./.github/workflows/deploy-studio.yml
    with:
      working-directory: subgraphs/v3-pools
      subgraph-name: balancer-pools-v3-optimism
      manifest-file: subgraph.optimism.yaml
    secrets:
      STUDIO_DEPLOY_KEY: ${{ secrets.STUDIO_DEPLOY_KEY }}

  deploy-xlayer:
    uses: ./.github/workflows/deploy-studio.yml
    with:
      working-directory: subgraphs/v3-pools
      subgraph-name: balancer-pools-v-3-x-layer
      manifest-file: subgraph.xlayer-mainnet.yaml
    secrets:
      STUDIO_DEPLOY_KEY: ${{ secrets.STUDIO_DEPLOY_KEY }}

  deploy-plasma-goldsky:
    uses: ./.github/workflows/deploy-goldsky.yml
    with:
      working-directory: subgraphs/v3-pools
      subgraph-name: balancer-pools-v3-plasma
      manifest-file: subgraph.plasma-mainnet.yaml
    secrets:
      GOLDSKY_API_KEY: ${{ secrets.GOLDSKY_API_KEY }}

  deploy-hyperevm-goldsky:
    uses: ./.github/workflows/deploy-goldsky.yml
    with:
      working-directory: subgraphs/v3-pools
      subgraph-name: balancer-pools-v3-hyperevm
      manifest-file: subgraph.hyperevm.yaml
    secrets:
      GOLDSKY_API_KEY: ${{ secrets.GOLDSKY_API_KEY }}
